<div class="tpl-portlet-components">
    <div class="portlet-title">
        <div class="caption font-green bold am-cf" style="display: block; width:100%;">
            <label class="am-fl"><span class="am-icon-code"></span> <%= title %></label>
            <button type="button" class="am-btn am-btn-default am-btn-success am-fr" data-am-modal="{target: '#uploadSvg'}"><span class="am-icon-plus"></span> 上传svg文件</button>
        </div>
    </div>
    <style type="text/css">
        .icons_flex_box{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 1px solid #ccc;
           flex-wrap: wrap;
        }
        .icons_flex_box .item{
            background: #f2f2f2;
            padding: 20px 0;
            cursor: pointer;
            width:25%;
            border:1px solid #ddd;
            text-align: center;
            transition: all .3s linear;
        }
        .icons_flex_box .item:hover{
            background: #fff;
        }
        .icons_flex_box .item svg{
            width:100px;
            margin-bottom: 10px;
            height: 100px;
        }
    </style>

    <div class="tpl-block">
        <ul class="icons_flex_box">
            <% svgs.forEach(function(item,index){ %>
             <li class="item">
                <embed src="<%= item.path %>" type="image/svg+xml" />
                <div><%= item.name %></div>
            </li>
            <% }) %>
        </ul>
    </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="uploadSvg">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">Amaze UI</div>
        <div class="am-modal-bd">
            <form id= "uploadForm">
                <div class="am-form-group am-form-file">
                    <button type="button" class="am-btn am-btn-danger am-btn-sm">
                    <i class="am-icon-cloud-upload"></i> 添加svg</button>
                    <input type="file" name="file" id="svg_input">
                </div>
            </form>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" id="uploadSvgBtn">确定上传</span>
        </div>
    </div>
</div>
