<div class="tpl-content-scope">
    <div class="note note-info">
        <h3>Ant Design 为移动而生
            <span class="close" data-close="note"></span>
        </h3>
        <p> Ant Design 移动端设计规范。antd-mobile 是 Ant Design 的移动规范的 React 实现，服务于蚂蚁及口碑无线业务。</p>
        <p>基于 Ant Design 移动设计规范。</p>
		<p>规则化的视觉样式配置，适应各类产品风格。</p>
		<p>基于 React Native 的多平台支持。</p>
		<p>使用 TypeScript 开发，提供类型定义文件。</p>
    </div>
</div>
<div class="tpl-portlet-components">
    <div class="portlet-title">
        <div class="caption font-green bold">
            <span class="am-icon-code"></span> <%= title %>
        </div>
        <div class="tpl-portlet-input tpl-fz-ml">
            <!-- <div class="portlet-input input-small input-inline">
                <div class="input-icon right">
                    <i class="am-icon-search"></i>
                    <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
            	</div>
        	</div> -->
    	</div>
	    <div class="tpl-block">
	    </div>
    </div>
</div>

