<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>资源管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/lib.css" />
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/echarts.min.js"></script>
</head>
<body>
<header class="am-topbar am-topbar-inverse admin-header">
	<div class="am-topbar-brand">
	    <a href="javascript:;" class="tpl-logo">
	        <img src="assets/img/logo.png" alt="">
	    </a>
	</div>
	<div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right"></div>
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
	    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
	        <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

	        <!-- <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
	            <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
	                <span class="tpl-header-list-user-nick">禁言小张</span><span class="tpl-header-list-user-ico"> <img src="assets/img/user01.png"></span>
	            </a>
	            <ul class="am-dropdown-content">
	                <li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>
	                <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
	                <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
	            </ul>
	        </li> -->
	        <li><a href="###" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
	    </ul>
	</div>
</header>
<div class="tpl-page-container tpl-page-header-fixed">
	<div class="tpl-left-nav tpl-left-nav-hover">
		<div data-am-sticky="{top:95,width:235}" 
		style="width: 235px;
	    background: #fff;
	    border-radius: 6px;
	    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	    padding-bottom: 20px;">
	    <div class="tpl-left-nav-title">
	        移动端资源列表
	    </div>
	    <div class="tpl-left-nav-list">
	        <ul class="tpl-left-nav-menu">
	        	<% menu.forEach(function(item){ %>
	        		<li class="tpl-left-nav-item">
	        			<%if(item.title==title){%>
		                <a href="<%=item.base_url  %>" class="nav-link active">
		                    <i class="<%=item.icon  %>"></i>
		                    <span><%=item.title  %></span>
		                </a>
		                <% }else{ %>
		                <a href="<%=item.base_url  %>" class="nav-link">
		                    <i class="<%=item.icon  %>"></i>
		                    <span><%=item.title  %></span>
		                </a>
		                <% } %>
		            </li>
	        	<% }) %>
	           
	            <!-- <li class="tpl-left-nav-item">
	                <a href="login.html" class="nav-link tpl-left-nav-link-list">
	                    <i class="am-icon-key"></i>
	                    <span>登录</span>
	                </a>
	            </li> -->
	        </ul>
	    </div>
		</div>
	</div>
	<div class="tpl-content-wrapper">
		<%- body %>
	</div>
</div>


</body>
</html>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/iscroll.js"></script>
<script src="assets/js/lib.js"></script>
<script src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/common.js"></script>